@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

body {
  margin: 0;
  background: #fafbfb;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

main {
  margin-left: auto;
  margin-right: auto;
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 20px;
  font-family: "Raleway", sans-serif;
}

article {
  height: 90%;

  &:hover {
    box-shadow: 0px 11px 22px 12px #eee;
    border-radius: 5px;
  }
}

body blockquote {
  border-left: 7px solid;
  border-color: #159484;
  font-style: italic;
}

section span {
  border-top: 3px solid #666;
  border-bottom: 3px solid #666;
  padding: 1rem 0;
  display: block;
  margin-bottom: 2rem;
  font-style: italic;
  font-size: 1.7rem;
}
